@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #660099;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}

html {
  font-size: 10px;
}

body {
 
  font-family:"Spectral 200 normal";
  font-size: 48px;
  text-shadow: 1px 1px 1px #aaa;
}

section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* UTILITY CLASSES */

/* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.--flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}

.--100vh {
  height: 100vh;
}

/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}
h3{
  
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}


.--text-xl {
  font-size: 4.5rem;
}
.--text-lg {
  font-size: 4rem;
}

.--text-md {
  font-size: 3rem;
}

.--text-sm {
  font-size: 1.2rem;
  font-weight: 300;
}

.--text-p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.3;
  color: var(--color-dark);
}

.--fw-bold {
  font-weight: 600;
}
.--fw-thin {
  font-weight: 200;
}

/* Text Color */
.--text-light {
  color: #fff;
}

.--color-primary {
  color: #007bff;
}
.--color-danger {
  color: orangered;
}
.--color-success {
  color: #28a745;
}

.--color-white {
  color: #fff;
}

/* Center Text */
.--text-center {
  text-align: center;
}

/* Card */
.--card {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* Margin */
.--m {
  margin: 1rem;
}
.--ml {
  margin-left: 1rem;
}
.--mr {
  margin-right: 1rem;
}

.--mb {
  margin-bottom: 1rem;
}

.--my {
  margin: 1rem 0;
}
.--mx {
  margin: 0 1rem;
}

.--m2 {
  margin: rem;
}

.--ml2 {
  margin: 2rem;
}
.--mr2 {
  margin: 2rem;
}

.--mb2 {
  margin-bottom: 2rem;
}

.--my2 {
  margin: 2rem 0;
}

.--mx2 {
  margin: 0 2rem;
}

/* Padding */
.--p {
  padding: 1rem;
}
.--p2 {
  padding: 2rem;
}
.--py {
  padding: 1rem 0;
}
.--py2 {
  padding: 2rem 0;
}

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: orangered;
}

.--btn-success {
  color: #fff;
  background: #28a745;
}

/* Background */
.--bg-light {
  background: #fff;
}
.--bg-dark {
  background: var(--color-dark);
}

.--form-control {
  font-size: 1.6rem;
  font-weight: 300;
}

.--form-control > * {
  margin: 5px 0;
}

.--form-control input {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}
.--form-control select {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
}
img.Image { max-width: 30%;}


.--form-control label {
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  min-width: 7rem;
  color: var(--color-dark);
  margin-right: 1rem;
}


.sliders{
  width: 45%;
  float: left;
  margin: 10vh 0vh 10vh 10vh;
 height: 55vh;

  
}
.welcome{
  background-color:rgba(0,0,0,0.4);
width: 100%;
margin-bottom: vh;
height: 97vh;
display: flex;
top: -50%;
filter: drop-shadow(8px 8px 10px gray);
}
.welcome::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: black;
opacity: 0.7;
}
.welcome-c{
  background-color: rgba(60, 60, 60, 0.5);
  width: 100%;
  height: 97vh;

  
}

.text{
  font-family:"Spectral 200 normal";
  position: absolute;
  top: 40%;
  margin-top: 4vh;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  font-size: 5vh;

}
.text-wrapper{
  margin-top: -7vh;
  font-size: 9vh;
  text-transform: uppercase;
  font-family: calimbri light;
}

.box{
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.t1{
  animation: ani1 15s infinite;
}
.t2{
  animation: ani2 15s infinite;
}
.t3{
  animation: ani3 15s infinite;
}
.t4{
  animation: ani4 15s infinite;
}
.t5{
  animation: ani5 15s infinite;
}

@keyframes ani1 {
 0%{
  opacity: 0;
 } 
 10%{
  opacity: 1;
 } 
 20%{
  opacity: 0;
 }

}
 @keyframes ani2 {
  20%{
   opacity: 0;
  } 
  30%{
   opacity: 1;
  } 
  40%{
   opacity: 0;
  } 

}
@keyframes ani3 {
  40%{
   opacity: 0;
  } 
  50%{
   opacity: 1;
  } 
  60%{
   opacity: 0;
  } 

}
@keyframes ani4 {
  60%{
   opacity: 0;
  } 
  70%{
   opacity: 1;
  } 
  80%{
   opacity: 0;
  } 

}

@keyframes ani5 {
  80%{
   opacity: 0;
  } 
  90%{
   opacity: 1;
  } 
  100%{
   opacity: 0;
  } 

}

.logo{
  width: 60%;
  position: relative;
  height: 70vh;
  overflow: hidden;
  top: 30%;
}
.img{
 
width: 100%;
border-radius: 10px;
height: 100%;
object-fit: cover;


}

.regulamin{
  width: 44.30%;
  height: 50vh;
  float: left;
  margin: 10vh 0vh 10vh 0vh;
 height: 55vh;
}
@media screen and (max-width: 600px) {
  .--flex-center {
    flex-direction: column;
  }
  .--flex-start {
    flex-direction: column;
  }
  .--flex-end {
    flex-direction: column;
  }
  .--flex-between {
    flex-direction: column;
  }
}

.--block {
  display: block;
}
.--inline-block {
  display: inline-block;
}

.--width-100 {
  width: 100%;
}

.--line {
  position: relative;
  margin-bottom: 1rem;
}
.--line::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 5rem;
  height: 3px;

  background: rgb(217, 8, 170);
  background: linear-gradient(
    135deg,
    rgba(163, 1, 191, 1) 44%,
    rgba(217, 8, 170, 1) 57%
  );
}
