
.slider {
  width: 82%;
  position: relative;
  height: auto;
  height: 30vh;
  overflow: hidden;
  float: left;
  margin-top: 8vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: flex-end;
  background-size:contain;
}
.sliderM{
  width: 40%;
  position: relative;
  height: auto;
  height: 17vh;
  float: left;
  margin: 1% 2% 1% 0%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sliderText{
  width: 75%;
  height: 5vh;
  font-size: 5vh;
  margin-bottom: 6vh;
  margin-top: -3vh;
  color: #e0ab75;
  position: relative;
  letter-spacing: 0.2vh;
  float: left;
  
  
}

.top-cont{
font-size: 3vh;
font-family: calibri light;
color:#e0ab75;
text-transform: uppercase;
}

.Bottom-content{
 text-align: left;
 margin-left: 60%;
 font-family: "Spectral light";
 color: rgb(78, 78, 78);
 text-transform: uppercase;
}
.slide {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-1%);
  transition: all 1s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
   width: 100%;
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  opacity: 0;
  width: 75%;
  animation: slide-up 0.5s ease 0.5s;
  animation-fill-mode: forwards;

}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 17rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}

.content > * {
  
  margin-bottom: 1rem;

}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}



.next {
  top: 35%;
  right: 1.5rem;
}
.prev {
  top: 35%;
  left: 1.5rem;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}
